.app,
.form,
.passwordBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.app {
	margin-top: 30px;
	color: #181d31;
}
.form {
	width: 70vw;
	height: 50vh;
	max-width: 600px;
	max-height: 400px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 30px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	background-color: #e6ddc4;
}

.form label,
.form select,
.form input,
.form button {
	padding: 5px;
	margin: 10px;
}

.form select {
	width: 50%;
}

.form input {
	width: 30%;
}

.form button {
	padding: 10px 30px;
	background: #678983;
	border: 2px solid #678983;
	border-radius: 20px;
	color: #f0e9d2;
	cursor: pointer;
}

.form button:hover {
	background: #f0e9d2;
	border: 2px solid #678983;
	color: #678983;
}

.passwordBox {
	margin-top: 20px;
	width: 70vw;
	height: 150px;
	max-width: 600px;
	padding: 10px;
	border: 2px solid black;
	border-radius: 30px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	background-color: #e6ddc4;
}
